<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kale BTP</title>
    <link href="~/Styles/material.css" rel="stylesheet"/>
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/GlyphIcon.css" rel="stylesheet" />
    
    <link href="~/Styles/Site.css" rel="stylesheet"/>
    <link href="~/Styles/Slide.css" rel="stylesheet"/>
    @RenderSection("stylesection", false);
    <style>
        .dropdown-item:hover{
            background-color:salmon;
        }
        .nav-item{
            color:red;
        }
        .nav-link{
            font-size:larger;
            font-weight:700;   
            color:rebeccapurple;
        }
        .btn-primary:hover{
            background-color:darksalmon;
            border-color:darksalmon;
        }
        .glyphicon:hover{
            color:darksalmon;
            
        }
        .glyphicon {
            font-size: 20px;
        }
    </style>

    @RenderSection("startupscript", false);
</head>
<body id="body">
    <div id="page" class="page" >
        <div>
            <img src="~/Img/bg_Header.png" class="TitleImg" />
        </div>
        <div class="Conteneur" style="background-color:white">
            <div>
                <div class="container">
                    <!--menu-->
                    <nav id="titlebar" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:darksalmon"><span class="glyphicon glyphicon-home"></span>&nbsp;
                        @Html.ActionLink("KC.BTP","Index","Home", new { area = "" }, new { @class = "navbar-brand" })
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <!--menu notre société-->
                                <li class=" nav-item dropdown" >
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="menu_nse" onmouseover="drop('menu_nse')">NOTRE SOCIETE</a>
                                    <ul class="dropdown-menu" id="mm" onmouseout="">
                                <li>
                                    
                                    @Html.ActionLink("SOCIETE", "Index", "NotreSociete", new { area = "" }, new { @class="dropdown-item"})
                                    <!--Sub menu-->
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">AFFILIATION</a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">MATERIELS DISPONIBLE</a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li><a class="dropdown-item" href="#">VALEURS</a>
                                    <div class="dropdown-divider"></div>
                                </li>
                               <li>
                                  <a class="dropdown-item" href="#">L'EQUIPE
                                   </a><div class="dropdown-divider"></div>
                               </li>
                               <li>
                                   <a class="dropdown-item" href="#">HISTORIQUE
                                   </a>
                               </li>
                              </ul>
                                </li>
                                <!--end menu notre societe-->

                                <!--menu domaine d'activité-->
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="menu_da" onmouseover="drop('menu_da')">DOMAINE D'ACTIVITE</a>
                                    <ul class="dropdown-menu" onmouseout="drop('menu_da')">
                                        <li>
                                            <a class="dropdown-item" href="#">SOUS-TRAITANCES</a><div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">REHABILITATION</a><div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">GENIE CIVIL</a><div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">ENTREPRISE GENERALE</a><div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">GROS-ŒUVRES</a><div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">PARTENARIAT</a><div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">GENIE ELECTRIQUE</a>
                                        </li>
                                    </ul>
                                </li>
                                <!--end menu domaine d'activité-->

                                <!--menu nos réalisation-->
                                <li class="nav-item">
                                    <a href="#" class="nav-link">NOS REALISATIONS</a>
                                </li>
                                <!--end menu nos réalisations-->

                                <!--menu nos services-->
                                <li class="nav-item">
                                    <a href="#" class="nav-link">NOS SERVICES</a>
                                </li>
                                <!--end menu nos services-->

                                <!--menu recrutement-->
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"id="menu_re" onmouseover="drop('menu_re')">RECRUTEMENT</a>
                                    <ul class="dropdown-menu" onmouseout="drop('menu_re')">
                                        <li>
                                            @Html.ActionLink("OFFRE D'EMPLOI", "SearchIndex","Recrutement", new { str = "emploi" },new {@class="dropdown-item" } )
                                            <div class="dropdown-divider"></div>
                                            
                                        </li>
                                        <li>
                                            @Html.ActionLink("OFFRE DE STAGE", "SearchIndex", "Recrutement", new { str = "stage" }, new { @class = "dropdown-item" })
                                            <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                           @Html.ActionLink("CANDIDATURE SPONTANEE", "Create", "Postuler",new { }, new { @class="dropdown-item"})
                                        </li>
                                    </ul>
</li>
                                <!--end menu recrutement-->

                                <!--<menu contact-->
                                <li class="nav-item">
                                    <a href="#" class="nav-link">CONTACT</a>
                                </li>
                                <!--end menu contact-->
                            </ul>
                            
                        </div>
                    </nav>
                    <!--fin menu-->
                </div>
            </div>

            <div class="body-content">
                @RenderBody()
                
                <hr/>
                <footer>
                    <p>&copy; @DateTime.Now.Year - Kale Construction</p>
                </footer>
            </div>
        </div>
        <script>
            //dropdown the menu on mouseover
            function drop(id) {
                var v = document.getElementById(id);
                v.click();
            }
            function Hide(id) {
                var v = document.getElementById(id);
                v.style.display = 'none';;
            }

            
        </script>
       
        
    </div>


    


    <script src="~/Script/jquery3.min.js"></script>
    <script src="~/Script/bootstrap.min.js"></script>
    <script src="~/Script/SiteJs.js"></script>
    <script src="~/Script/material.min.js"></script>
    @RenderSection("scriptsection", false)


</body>
</html>
