<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Styles/material.css" rel="stylesheet"/>
    <link href="~/Styles/Bootstrap.css" rel="stylesheet" />
    
    <link href="~/Styles/Site.css" rel="stylesheet"/>
    <link href="~/Styles/Slide.css" rel="stylesheet"/>
    <style>
        .dropdown-item:hover{
            background-color:salmon;
        }
        .nav-link{
            font-size:larger;
            font-weight:700;
        }
    </style>
</head>
<body id="body">
    <div id="page" class="page" >
        <div class="Conteneur" style="background-color:white">
            <div id="titlebar" class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <!--menu-->
                    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: darksalmon">
                        @Html.ActionLink("Kale BTP","Index","Home", new { area = "" }, new { @class = "navbar-brand" })
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                              <!--/////////////-->
                                <li class=" nav-item dropdown" >
                                    <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notre société</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#" id="telink">Tourisme Entreprise</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" id="tgplink">Tourisme Grand-public</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" id="tslink">Tourisme Scolaire</a>
                                </li>
                                        <li><a class="dropdown-item" href="#" id="collink">Colonie des vaccances</a></li>
                                    </ul>
                                </li>
                            </ul>
                            
                        </div>
                    </nav>
                    <!--fin menu-->
                </div>
            </div>

            <div class="body-content">
                @RenderBody()
                
                <hr/>
                <footer>
                    <p>&copy; @DateTime.Now.Year - Kale BTP</p>
                </footer>
            </div>
        </div>
       
        @RenderSection("scriptsection",false)
        
    </div>
</body>
</html>
