@model Btp.Models.Postuler

@{
    ViewBag.Title = "Recrutement";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}
<br />
<h2 class="centrer">Postuler</h2>
<br />
@{
    string style;
    if (ViewBag.Message != null)
    {
        style = "block";
    }
    else
    {
        style = "none";
    }
    <p style="display:@style" class="alert alert-danger centrer">@ViewBag.Message</p>
}
<br />
<div class="p-2" style="margin:auto">
    @using (Html.BeginForm("Demander", "Postuler", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="card test">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group row">
                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.PostOccupe, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PostOccupe, new { htmlAttributes = new { @class = "form-control",@Value= @ViewBag.post } })
                        @Html.ValidationMessageFor(model => model.PostOccupe, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.CheminCv, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="file" name="cv" id="cv" />
                        @Html.ValidationMessageFor(model => model.CheminCv, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Lettre, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="file" name="lettre" id="lettre" />
                        @Html.ValidationMessageFor(model => model.Lettre, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Attestation, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="file" name="attest" id="attest" multiple />
                        @Html.ValidationMessageFor(model => model.Attestation, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Postuler" class="btn btn-secondary" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div>

</div>
