
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
    
}
<br /><br />
<h2 class="centrer">Tableau de bord</h2>
<p>
    <h6 class="mx-5 glyphicon glyphicon-user">@ViewBag.LogName</h6>
    @Html.ActionLink(" ", "Logout", "Connection", new { area = "" }, new { @class = "glyphicon glyphicon-log-out",@title="Déconnection" })
</p>
<br /><br />
<div class="row mt-2 container">
    <div class="col-md-3">
        <div class="card" id='card1' onmouseover="SetStyle('card1')" onmouseout="RemoveStyle('card1')">
            <div class="card-img centrer" style="background-color:blueviolet">
                <span class="glyphicon glyphicon-user" style="font-size:50px"></span>
            </div>
            <div class="card-body">   
                
                <h5 class="card-title SiteColor">UTILISATEURS</h5><br /><br />
                <h6 class="card-subtitle mb-2 text-muted">LES ADMINISTRATEURS</h6>
                <p class="card-text">Affiches la liste les comptes qui administrent le site.<br /><br /></p><br />
                @Html.ActionLink("Afficher", "Index", "User", new { area = "" }, new { @class = "btn btn-primary", @style = "background-color:blueviolet" })
            </div>
                <div class="card-img centrer" style="background-color:blueviolet;height:12px">
                </div>
        </div>

    </div>

    <div class="col-md-3">
        <div class="card" id='card3' onmouseover="SetStyle('card3')" onmouseout="RemoveStyle('card3')">
            <div class="card-img centrer" style="background-color:brown">
                <span class="glyphicon glyphicon-question-sign" style="font-size:50px"></span>
            </div>
            <div class="card-body">
                <h5 class="card-title SiteColor">DEMANDES</h5><br /><br />
                <h6 class="card-subtitle mb-2 text-muted">Reponses aux offres</h6>
                <p class="card-text">Listes les demandes en réponse aux offres de stage et d'emploi.<br /><br /></p><br />
                @Html.ActionLink("Candidatures", "Index", "Postuler", new { area = "" }, new { @class = "btn btn-primary", @style = "background-color:brown" })
            </div>
            <div class="card-img centrer" style="background-color:brown;height:12px">
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" id='card2' onmouseover="SetStyle('card2')" onmouseout="RemoveStyle('card2')">
            <div class="card-img centrer" style="background-color:darkcyan">
                <span class="glyphicon glyphicon-home" style="font-size:50px"></span>
            </div>
            <div class="card-body">
                <h5 class="card-title SiteColor">Accueil</h5><br /><br />
                <h6 class="card-subtitle mb-2 text-muted">Les images de l'accueil</h6>
                <p class="card-text">Changes les images qui s'affichent sur la page d'accueil.<br /><br /></p><br />
                @Html.ActionLink("Afficher", "Index", "ImageManager", new { area = "" }, new { @class = "btn btn-primary",@style="background-color:darkcyan" })
            </div>
            <div class="card-img centrer" style="background-color:darkcyan;height:12px">
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" id='card4' onmouseover="SetStyle('card4')" onmouseout="RemoveStyle('card4')">
            <div class="card-img centrer" style="background-color:blueviolet">
                <span class="glyphicon glyphicon-leaf" style="font-size:50px"></span>
            </div>
            <div class="card-body">
                <h5 class="card-title SiteColor">Offre</h5><br /><br />
                <h6 class="card-subtitle mb-2 text-muted">Ajouter une offre</h6>
                <p class="card-text">Permets d'ajouter des offres de stage et d'emploi<br /><br /></p><br />
                @Html.ActionLink("Ajouter une offre", "Create", "Recrutement", new { }, new { @class = "btn btn-primary", @style = "background-color:blueviolet" })
            </div>
            <div class="card-img centrer" style="background-color:blueviolet;height:12px">
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row mt-2 container">
    <div class="col-md-3">
        <div class="card" id='card5' onmouseover="SetStyle('card5')" onmouseout="RemoveStyle('card5')">
            <div class="card-img centrer" style="background-color:darkcyan">
                <span class="glyphicon glyphicon-edit" style="font-size:50px"></span>
            </div>
            <div class="card-body">
                <h5 class="card-title SiteColor">Modification</h5><br /><br />
                <h6 class="card-subtitle mb-2 text-muted">Changer votre mot de passe</h6>
                <p class="card-text">Permets le changement de mot de passe<br /><br /></p><br />
                @Html.ActionLink("Changer", "Index", "PasseChange", new { }, new { @class = "btn btn-primary", @style = "background-color:darkcyan" })
            </div>
            <div class="card-img centrer" style="background-color:darkcyan;height:12px">
            </div>
        </div>
    </div>
</div>