@model IEnumerable<Btp.Models.ImageManager>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}

<h2>Index</h2>


@foreach (var item in Model)
{

    <div class="row card" style="margin:5px;flex-direction:unset">
        <div class="col-md-6 my-2">
            <img src="@item.Chemin" class="img-fluid"/>
        </div>
        <div class="col-md-6">
            <span class="descriptitle">@item.Title</span>
            <p>@item.Description</p>
        </div>
        <div class="m-2">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
           
        </div>
    </div>

    <br/>
    
    <br/>
}

@Html.Raw(ViewBag.Editor)